.find-check {
    width: 75%;
    height: 20vh;
    margin: 0 auto;
}

.find-check ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
}

.find-check li{
    width: 25vw;
    padding: 1.5em 0;
    font-size: 1.5em;
    color: white;
    background-color: var(--button);
    border-radius: 1em;
}

.find-check li:hover{
    background-color: var(--hover)
}