.find-check {
    width: 100%;
    margin: auto;
}

.find-check ul {
    display: flex;
    flex-wrap: wrap;
    height: 60vh;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
    align-content: center;
}

.find-check li{
    width: 45%;
    height: 10vh;
    line-height: 10vh;
    margin: 0.5vh;
    padding: 1.2em 0;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: var(--button);
    min-width: 200px;
}

.find-check li:hover{
    background-color: var(--hover)
}