.header {
    height: 8vh;
    line-height: 8vh;
    background-color: var(--button);
}

.header h1 {
    font-size: min(8vw, 55px);
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

.header a {
    text-decoration: none;
    color: white;
    
}