.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 500px;
    margin: 1vh auto;
}

.beam-display {
    border: 1px solid black;
    width: 100%;
    min-width: 230px;
}

.calcs-display {
    border: 1px solid black;
    width: 100%;
    min-width: 250px;
}

.beam-header {
    margin: 1vh;
}

.found-table {
    width: 100%;
}

.t-left {
    text-align: right;
    width: 50%;
}
.t-right {
    text-align: left;
    width: 50%;
}

.calc-table {
    margin: 0 auto;
}

.c-left {
    text-align: left;
}
.c-right {
    text-align: right;
}

.calc-top {
    border-bottom: 1px solid black;
    text-align: center;
}

.calc-bottom {
    text-align: center;
}