.type-select {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 500px;

}

.selected {
    background-color: var(--col4) !important;
}

.type-select li{
    width: 16%;
    padding: 0.5em 0;
    display: block;
    /* margin: 0.25em; */
    background-color: var(--button);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.type-select li:hover{
    background-color: var(--hover);
}

.type-select p{
    pointer-events: none;
    margin: 0;
    padding: 0
}

.svg {
    pointer-events: none;
    width: 70%;
    height: auto
}